.question-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  position: relative;
}

.question-title {
  font-size: 3rem;
  text-align: center;
  margin-bottom: 2rem;
}

.question-text {
  font-size: 2rem;
  font-weight: bold;
  text-align: center;
  margin-bottom: 4rem;
}

.answer-button {
  margin-top: 20px;
  margin-bottom: 30px;
  display: block;
  margin: 1rem auto;
  padding: 1rem 2rem;
  font-size: 1.5rem;
  font-weight: bold;
  border-radius: 5px;
  border: 3px solid #000000; /* add a black border */
  background-color: #ffffff;
  color: #000000;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;
  width: 450px;
  height: 130px;
  text-align: center;
  line-height: 60px;
}

.answer-button:hover {
  background-color: #b6b6b6;
}

.time-left {
  font-size: 1.5em;
  margin-top: -635px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
}


.score-result {
  font-size: 2.5rem;
  position: fixed;
  bottom: 6px;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
}


.results-title {
  font-size: 2rem;
  font-weight: bold;
  margin-bottom: 1rem;
  text-align: center;
}

.results-score {
  font-size: 2.5rem;
  margin-bottom: 1rem;
  text-align: center;
  font-weight: bold;
}

.restart-button,
.go-home,
.see-leaderboard {
  display: block;
  margin: 1rem auto 1.5rem;
  padding: 1rem 2rem;
  font-size: 1.5rem;
  font-weight: bold;
  border: none;
  border-radius: 5px;
  background-color: #ffffff;
  color: #000000;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;
  width: 550px;
  height: 120px;
  margin-top: 80px;
}


.restart-button:hover,
.go-home:hover,
.see-leaderboard:hover {
  background-color: #b6b6b6;
}

